@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Tere tulemast Contoso</h2>
        <p>
            Artjom Skatškov  <br />
            TARpe23  <br />
            2024/2025    <br />
        </p>
    </div>
    <div class="col-md-4">
        <h2>Contoso University github</h2>
        <p>
            Contoso University arendamine.
        </p>
        <a class="btn btn-default" href="https://github.com/askatskov">Minu github</a>
    </div>
</div>

